.loader-spinner { position: absolute;top:0;left: 0;background: #fafafa;width: 100%;min-height: 100%;z-index: 1000; display: flex;}
.preloader-init { position: absolute; top: calc(50% - 65px); left: calc(50% - 65px) }

.widget-setting-position-top-right {
    position: fixed;
    top: 16px;
    right: 16px;
}
.widget-setting-position-open-box-top-right {
    position: fixed;
    top: 8px;
    right: 16px;
    
    min-width: 360px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;

}

.widget-setting-position-bottom-right {
    position: fixed;
    bottom: 16px;
    right: 16px;
}
.widget-setting-position-open-box-bottom-right {
    position: fixed;
    bottom: 8px;
    right: 16px;
    
    min-width: 360px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;

}

.widget-setting-position-top-left {
    position: fixed;
    top: 16px;
    left: 16px;
}
.widget-setting-position-open-box-top-left {
    position: fixed;
    top: 8px;
    left: 16px;
    min-width: 360px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;

}
.widget-setting-position-bottom-left {
    position: fixed;
    bottom: 16px;
    left: 16px;
}
.widget-setting-position-open-box-bottom-left {
    position: fixed;
    bottom: 8px;
    left: 16px;
    min-width: 360px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;

}
.widget-setting-position-center-left {
    /* position: fixed;
    bottom: 50%;
    left: 16px; */

    position: fixed;
    top: 0;
    bottom: 0;
    left: 16px;
    margin-top: auto;
    margin-bottom: auto;
}
.widget-setting-position-open-box-center-left {
    position: fixed;
    top: 8px;
    left: 16px;
    width: 360px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}
.widget-setting-position-center-right {
    /* position: fixed;
    bottom: 50%;
    right: 16px; */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 16px;
    margin-top: auto;
    margin-bottom: auto;
}
.widget-setting-position-open-box-center-right {
    position: fixed;
    top: 8px;
    right: 16px;
    width: 360px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}
.widget-setting-position-center-top {
    position: fixed;
    left: 0;
    top: 16px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.widget-setting-position-open-box-center-top {
    position: fixed;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 360px;
    top: 8px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;

}
.widget-setting-position-center-bottom {
    position: fixed;
    left: 0;
    bottom: 16px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.widget-setting-position-open-box-center-bottom {
    position: fixed;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 360px;
    bottom: 8px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;

}
.widget-setting-position-icon {
    width: 50px;
    height: 50px;
    background: cadetblue;
    color: #fff;
    text-align: center;
    padding-top: 13px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 22px;
}

.widget-setting-position-open-box-close-btn {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.widget-setting-position-open-box-btns {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.widget-setting-position-open-box-close-btn button, .widget-setting-position-open-box-close-btn button:hover{
    font-size: 28px;
    display: inline-flex;
    padding-top: 0;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}
.widget-setting-position-open-box-close-btn button:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}
.widget-setting-position-open-box-btns button, .widget-setting-position-open-box-btns button:hover{


    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsla(0,0%,100%,.5);
    color: #0b0b44;
    cursor: pointer;
}
.widget-setting-position-open-box-btns button:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}
.widget-setting-position-open-box-heading {
    /* background: cadetblue; */
    
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}
.widget-setting-position-open-box-bottom-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
}
.widget-setting-position-open-box-bottom-btn a {
    /* width: 100%; */
    text-align: center;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    height: 60px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget-setting-position-open-box-bottom-btn a:hover {
    color: #ffffff;
    text-decoration: none;
}
/* .widget-setting-position-open-box-bottom-btn a:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
} */
.widget-setting-position-open-box-powered {
    z-index: 999;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 42px;
    line-height: 42px;
    background: hsla(0,0%,100%,.49);
    text-align: center;
    font-size: 18px;
}
.video-react .video-react-control-bar {
    display: none !important;
}
.widget-setting-position-open-box-content {
    position: relative;
    /* overflow: hidden; */
}
.video-react .video-react-big-play-button {
    display: none !important;
}
.video-react {
    overflow: hidden !important;
}
.video-react .video-react-video {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    -o-object-fit: cover !important;
    object-fit: cover !important;
    height: 105% !important;
}
.video-box-widget .video-react.video-react-fluid, .video-react.video-react-16-9, .video-react.video-react-4-3 {
    height: calc(85vh) !important;
}
.overlay-content-video-widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    padding: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
.widget-box-positions {
    box-sizing: content-box;
    z-index: 99999;
    border: 7px solid #12a3d9;
    background: rgb(216, 216, 216);
    height: 120px;
    transition: transform 0.1s ease-in-out 0s;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.video-react:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.widget-box-positions .video-react {
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100% !important;
}